@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100;1,300;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #360139;
  height: 60px;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

.fx-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fx-item-center {
  display: flex;
  align-items: center;
}

.listas {
  list-style: none;
}

.listas a {
  color: #fff;
  margin-left: 40px;
  font-size: 14px;
}

.button-one {
  background-color: #8b1e91;
  padding: 14px 46px;
  display: inline-block;
  color: #fff;
  /* font-weight: bolder; */
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.text {
  font-size: 14px;
  color: #646464;
}

.container {
  max-width: 1200px;
  min-width: 500px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
}

.logo span {
  font-weight: bolder;
  color: #fff;
  font-size: 16px;
  margin-left: 5px;
  letter-spacing: 3px;
}

.activo {
  font-weight: bolder;
}

.ranking-white {
  background-color: #fff;
  padding: 2rem !important;
}

.ranking-white h2 {
  padding-left: 2.5rem;
}

.imagen-user {
  width: 30px;
  margin-left: 20px;
}